@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
font-weight: normal;
}
.flaticon-book:before { content: "\f100"; }
.flaticon-phone-book:before { content: "\f101"; }
.flaticon-registered-sign:before { content: "\f102"; }
.flaticon-rating:before { content: "\f103"; }
.flaticon-construction-1:before { content: "\f104"; }
.flaticon-landscape:before { content: "\f105"; }
.flaticon-painter-with-paint-roller:before { content: "\f106"; }
.flaticon-art:before { content: "\f107"; }
.flaticon-bucket:before { content: "\f108"; }
.flaticon-paint:before { content: "\f109"; }
.flaticon-construction-2:before { content: "\f10a"; }
.flaticon-drawing:before { content: "\f10b"; }
.flaticon-house:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-mail:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-medal:before { content: "\f110"; }
.flaticon-flat-plan:before { content: "\f111"; }
.flaticon-window:before { content: "\f112"; }
.flaticon-wall:before { content: "\f113"; }
.flaticon-building-1:before { content: "\f114"; }
.flaticon-buildings:before { content: "\f115"; }
.flaticon-construction:before { content: "\f116"; }
.flaticon-building:before { content: "\f117"; }
.flaticon-tool:before { content: "\f118"; }
.flaticon-blueprint:before { content: "\f119"; }
.flaticon-improvement:before { content: "\f11a"; }
.flaticon-cleaning-mop:before { content: "\f11b"; }
.flaticon-parquet:before { content: "\f11c"; }