/*------------------------------------------------------------------
[Responsive Stylesheet]

Project:    TREND
Version:    1.0
Author:     Modeltheme
URL:        http://trend.modeltheme.com

[Table of contents]

1. Responsive Max_319px
2. Responsive Min_320px Max_479px
3. Responsive Max_479px
4. Responsive Min_480px Max_767px
5. Responsive Max_767px
6. Responsive Min_768px
7. Responsive Max_960px
8. Responsive Max_1024px
9. Responsive Min_1024px
10. Responsive Min_1367px
11. Responsive Min_768px and Max_1023px
12. Responsive Max_600px
13. Responsive Min_600px

-------------------------------------------------------------------*/

/*--- 1. Responsive Max_319px ---*/
@media only screen and (max-width: 319px) {



    /* Add new rules for this interval below */

}


/*--- 1. Responsive Min_320px Max_479px ---*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
 


    /* Add new rules for this interval below */

}


/*--- 3. Responsive Max_479px ---*/
@media only screen and (max-width: 479px) {
    .portfolio-items .col-md-2 {
        width: 100%;
        float: left;
        margin-bottom: 80px;
    }


    /* Add new rules for this interval below */

}


/*--- 4. Responsive Min_480px Max_767px ---*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .portfolio-items .col-md-2 {
        width: 50%;
        float: left;
        margin-bottom: 80px;
    }



    /* Add new rules for this interval below */

}


/*--- 5. Responsive Max_767px ---*/
@media only screen and (max-width: 767px) {
    .portfolio-items .col-md-2:nth-child(7n+1) {
        clear: none;
        margin-left: 0;
    }
    .latest-tweets .single-tweet .col-md-2 {
        display: none;
    }
    #contact_form .form-control {
        margin-bottom: 15px;
    }
    footer .widget_tag_cloud {
        overflow: hidden;
    }
    .navbar-collapse.collapse.in .menu .item:hover {
        /*background: #253749;*/
    }
    .navbar-collapse .menu .item,
    .navbar-collapse.collapse.in .menu .item {
        text-align: left;
        width: 100%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .logo {
        margin: 15px 0;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle {
        background: transparent;
        border: 2px solid #00adf1;
        margin: 17px 0;
        transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #00adf1;
    }
    #trend-main-head .navbar-collapse.col-md-9,
    #trend-main-head .navbar-collapse.collapse.col-md-9 {
        margin: 0;
        width: 100%;
    }
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0 !important;
        clear: none !important;
    }
    .testimonials .testimonials-container blockquote{
        font-size: 16px;
    }
    .testimonials .testimonials-container blockquote::after,
    .testimonials .testimonials-container blockquote::before{
        font-size: 100px;
        top: 34%;
    }
    .submit-comment .comment-form .form-comment {
        padding: 0;
    }




    /* Add new rules for this interval below */

}


/*--- 6. Responsive Min_768px ---*/
@media only screen and (min-width: 768px) {



    /* Add new rules for this interval below */

}



/*--- 7. Responsive Max_960px ---*/
@media screen and (max-width: 960px) {




    /* Add new rules for this interval below */

}


/*--- 8. Responsive Max_1024px ---*/
@media only screen and (max-width: 1024px) {



    /* Add new rules for this interval below */

}


/*--- 9. Responsive Min_1024px ---*/
@media only screen and (min-width: 1024px) {



    /* Add new rules for this interval below */

}


/*--- 10. Responsive Min_1367px ---*/
@media only screen and (min-width: 1367px) {



    /* Add new rules for this interval below */

}


/*--- 11. Responsive Min_768px and Max_1023px ---*/
@media only screen and (min-width: 768px) and (max-width: 990px){
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0 !important;
        clear: none !important;
    }
    .portfolio .col-md-2 {
        float: left;
        margin-bottom: 80px;
        width: 33.3333%;
    }

    /* Add new rules for this interval below */

}

/*--- 11. Responsive Min_768px and Max_1023px ---*/
@media only screen and (min-width: 768px) and (min-width: 1023px){



    /* Add new rules for this interval below */

}


/*--- 12. Responsive Max_600px ---*/
@media only screen and (max-width: 600px) {



    /* Add new rules for this interval below */

}


/*--- 13. Responsive Min_600px ---*/
@media only screen and (min-width: 600px) {



    /* Add new rules for this interval below */

}